<div class="col-sm-6 col-xl-3">
    <div class="box">
        <a href="">
            <div class="img-box">
                <img src="images/w5.png" alt="">
            </div>
            <div class="detail-box">
                <h6>
                    Smartwatch
                </h6>
                <h6>
                    Price:
                    <span>
                    $125
                  </span>
                </h6>
            </div>
            <div class="new">
                <span>
                  New
                </span>
            </div>
        </a>
    </div>
</div>