<section class="slider_section ">
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="detail-box pl-5">
                                <h1>
                                    iPhone 14 Pro Max
                                </h1>
                                <p>
                                    The device is equipped with an extremely powerful Apple A16 Bionic chip, accompanied by a new screen design.
                                </p>
                                <div class="btn-box">
                                    <a href="" class="btn1">
                                        Contact Us
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="img-box">
                                <img style="width: 400px; height: 400px" src="images/iphone-14-pro-max.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="container-fluid ">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="detail-box pl-5">
                                <h1>
                                    iPad Pro M2
                                </h1>
                                <p>
                                    Super powerful Apple M2 chip on iPad Pro M2 12.9 inch WiFi Cellular 128GB.
                                </p>
                                <div class="btn-box">
                                    <a href="" class="btn1">
                                        Contact Us
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="img-box">
                                <img style="width: 400px; height: 400px" src="images/ipad-pro-m2.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="container-fluid ">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="detail-box pl-5">
                                <h1>
                                    AirPods Pro (2nd Gen)
                                </h1>
                                <p>
                                    AirPods Pro 2 headset design is compact, modern design
                                </p>
                                <div class="btn-box">
                                    <a href="" class="btn1">
                                        Contact Us
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="img-box">
                                <img style="width: 400px; height: 400px" src="images/airpods-pro.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ol class="carousel-indicators">
            <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
            <li data-target="#customCarousel1" data-slide-to="1"></li>
            <li data-target="#customCarousel1" data-slide-to="2"></li>
        </ol>
    </div>

</section>